* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(asset/road.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.traffic-light-container {
    text-align: center;
    
}

.traffic-light {
    width: 100px;
    height: 250px;
    background-color: #333; 
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.light {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ddd; 
}

.red {
    background-color: red;
    border-radius: 50px;
    width: 95%;
}

.yellow {
    background-color: gray;
    border-radius: 50px;
    width: 95%;
}

.green {
    background-color: grey;
    border-radius: 50px;
    width: 95%;
}

button {
    padding: 12px;
    font-size: 12px;
    background-color: #1aa3bf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}